@{
    ViewData["Title"] = "Home Page";
    var guid = @Guid.NewGuid();
}


<h1 class="display-4">eSewa</h1>

<form action="https://uat.esewa.com.np/epay/main" method="POST">
    <label for="tAmt">Total Amount</label>
    <input value="100" name="tAmt" type="number">
    <br />
    <label for="amt">Amount</label>
    <input value="90" name="amt" type="number">
    <br />
    <label for="txAmt">Tax Amount</label>
    <input value="5" name="txAmt" type="number">
    <br />
    <label for="psc">Service charge</label>
    <input value="2" name="psc" type="number">
    <br />
    <label for="pdc">Delivery charge</label>
    <input value="3" name="pdc" type="number">
    <br />
    <label for="pdc">Merchant code</label>
    <input value="EPAYTEST" name="scd" type="text">
    <br />
    <label for="pid">Product Id</label>
    <input value="@guid" name="pid" type="text">
    <br />
    <label for="pid">Success redirect page</label>
    <input value="@ViewBag.BaseUrl/Sewa/eSewaWebhook?q=su" type="text" name="su">
    <br />
    <label for="pid">Success redirect page</label>
    <input value="@ViewBag.BaseUrl/Sewa/eSewaWebhook?q=fu" type="text" name="fu">
    <br />
    <input value="Submit" type="submit">
</form>

